# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Sublime Text
*.sublime-project
*.sublime-workspace

# Local Windows scripts
*.bat 

# CMake build
build/

# Clangd language server cache
.cache/

# OS-specific clutter
.DS_Store
Thumbs.db

# Ignore the Visual Studio cache & settings folder
.vs/

# Build outputs
bin/
obj/

# User-specific files (like slnx.sqlite)
*.suo
*.user
*.userosscache
*.sln.docstates
*slnx.sqlite
